<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".DiggActivity"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:noHistory="false"
            android:taskAffinity=".DiggActivity"
            android:exported="true"
            android:label="@string/digg_app_name"
            android:icon="@drawable/w_icon"
            android:theme="@style/Theme.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WebViewActivity" />
    </application>

</manifest>