<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name=".RssReaderActivity"
            android:exported="true"
            android:clearTaskOnLaunch="true"
            android:label="@string/rss_app_name"
            android:icon="@drawable/ic_rss_feed"
            android:theme="@style/Theme.Home"
            android:launchMode="singleTask"
            android:usesCleartextTraffic="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>
</manifest>